<!doctype html>
<head>
  <title>{{ .Name }}</title>
  <link rel="stylesheet" href="/static/style.css" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
</head>
<body>
  <div id="hide-content" style="
    position: absolute; z-index: 2000;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: #fff2f6;"></div>
  <div class="wrapper">
    <div class="content">
      <div class="header">
        <div id="header" class="title">
          <h1 class="">dacian c.</h1>
          <div class="navigation-button">
            <p>
              back to<br />
              <span class="grow-text"><a href="/">home</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="subsection-metadata">
          <h2>{{ .Name }}</h2>
          <p>{{ .Description }}</p>
        </div>
        <div class="subsection-grid">
          <!--  -->
          {{ range .Cards }}
            {{ template "card.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</body>
