<!doctype html>
<head>
  <link rel="stylesheet" href="../static/style.css" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
</head>
<body>
  <div class="wrapper">
    <div class="content">
      <div class="header">
        <div id="header" class="title">
          <h1 class="">dacian c.</h1>
          <div class="navigation-button">
            <p>back to<br>
                <span class="grow-text"
                ><a href="index.html">home</a></span>
            </p>
        </div>
        </div>       
      </div>
      <div class="subsection">
        <div class="subsection-metadata">
          <h2>projects</h2>
          <p>check out what i'm working on</p>
        </div>
        <div class="subsection-grid">
          <div class="subsection-grid-item">
            <h2>sift</h2>
            <p>a personalised tool for sorting files according to your needs</p>
            <span class="triangle-dark">◢</span>
          </div>
          <div class="subsection-grid-item">
            <h2>dacian.co</h2>
            <p>dynamic single-page application built with Go and htmx</p>
            <span class="triangle-dark">◢</span>
          </div>
          <div class="subsection-grid-item">
            <h2>shared-cli</h2>
            <p>remote CLI for Shared, a file-sharing server</p>
            <span class="triangle-dark">◢</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
