<!doctype html>
<head>
  <link rel="stylesheet" href="../static/style.css" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
  />
</head>
<body>
  <div id="hide-content" style="
    position: absolute; z-index: 2000;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: #fff2f6;"></div>
  <div class="wrapper">
    <div class="content">
      <div class="header">
        <div id="header" class="title">
          <h1 class="">dacian c.</h1>
          <div class="navigation-button">
            <p>
              back to<br />
              <span class="grow-text"><a href="index.html">home</a></span>
            </p>
          </div>
        </div>
      </div>
      <div class="subsection">
        <div class="subsection-metadata">
          <h2>software</h2>
          <p>my self-hosted stack</p>
        </div>
        <div class="subsection-grid">
          <div class="subsection-grid-item">
            <h2>shared</h2>
            <p>a file-sharing server akin to 0x0.st</p>
            <span class="triangle-dark">◢</span>
          </div>
          <div class="subsection-grid-item">
            <h2>dacian.co</h2>
            <p>dynamic single-page application built with Go and htmx
            </p>
            <span class="triangle-dark">◢</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
